@tailwind base;
@tailwind components;
@tailwind utilities;

.react-date-picker__inputGroup__input, .react-daterange-picker__inputGroup__input {
    border: none !important;
}

.rs-picker-default .rs-picker-toggle {
    z-index: 0 !important;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: #000 !important;
}